<!DOCTYPE html>

<html>
    <head>
        <title>Chính sách bảo mật</title>
    </head>

    <body>
        <div class="container">
            <h1 class="bigTitle">Doffy | Chính sách bảo mật</h1>

            <div class="divisionInformation">
                <h3 class="title">1. Các thông tin chúng tôi thu thập</h3>
                <ul>
                    <li>
                        Thông tin cá nhân: Các thông tin bạn cung cấp khi đăng
                        ký và sử dụng Ứng dụng, bao gồm email, tên, giới tính,
                        ngày sinh và sở thích cá nhân.
                    </li>
                    <li>
                        Các nội dung bạn tạo, chia sẻ hoặc giao tiếp với những
                        người dùng khác, ví dụ như thời gian bắt đầu trò chuyện,
                        một bức ảnh được tạo ra hoặc một người khác thích ảnh
                        của bạn.
                    </li>
                </ul>
            </div>

            <div class="divisionInformation">
                <h3 class="title">2. Cách chúng tôi xử lý thông tin</h3>
                <p>
                    Chúng tôi sử dụng thông tin chúng tôi có (theo sự lựa chọn
                    của bạn khi sử dụng Ứng dụng) để cung cấp và hỗ trợ các dịch
                    vụ liên quan đến
                    <a
                        class="textHightlight"
                        href="https://www.doffy.xyz/about-us/terms"
                        >Điều khoản sử dụng</a
                    >
                    của chúng tôi. Cụ thể như sau:
                </p>
                <ul>
                    <li>
                        Cung cấp dịch vụ và cá nhân hoá trải nghiệm cá nhân của
                        bạn, từ những sở thích bạn chọn có thể giúp bạn gặp và
                        trò chuyện với những người có cùng sở thích, độ tuổi với
                        mình.
                    </li>
                    <li>
                        Thúc đẩy tính bảo mật và an toàn thông tin: Các thông
                        tin mà bạn cung cấp đều được sử dụng để xác minh tài
                        khoản trong trường hợp cần thiết và chống lại các hoạt
                        động có hại, hoạt động spam hay các bất kỳ một hoạt động
                        xấu nào khác, qua đó cũng giúp gia tăng bảo mật và an
                        toàn thông tin của ứng dụng Doffy.
                    </li>
                    <li>
                        Giao tiếp với bạn: Thông tin chúng tôi có về bạn được
                        dùng để giao tiếp với bạn về sản phẩm, các chính sách và
                        điều khoản của chúng tôi. Và cũng được dùng để trả lời
                        bất cứ câu hỏi nào khi bạn cần liên hệ với chúng tôi.
                    </li>
                    <li>
                        Phát triển, vận hành và không ngừng cải tiến sản phẩm
                        ngày một tốt hơn.
                    </li>
                </ul>
            </div>

            <div class="divisionInformation">
                <h3 class="title">3. Cách thông tin của bạn được chia sẻ</h3>
                <ul>
                    <li>
                        Chia sẻ với người dùng khác: Những thông tin trong trang
                        cá nhân của bạn khi bạn tạo, cập nhật trang cá nhân của
                        mình (bao gồm tên, ảnh đại diện, các bài đăng và
                        <b>không bao gồm</b> email, ngày sinh) sẽ chỉ có thể xem
                        công khai đối với những người mà bạn đồng ý công khai
                        cuộc trò chuyện với họ hoặc những người đang theo dõi
                        bạn hoặc bạn theo dõi họ.
                    </li>
                    <li>
                        Mọi thông tin người dùng sẽ chỉ được chúng tôi sử dụng
                        cho mục đích nội bộ là cải thiện và phát triển sản phẩm,
                        chúng tôi cam kết không chia sẻ thông tin này cho bất kỳ
                        một tổ chức khác hay bên thứ ba nào, trừ khi có yêu cầu
                        từ cơ quan Nhà nước có thẩm quyền.
                    </li>
                </ul>
            </div>

            <div class="divisionInformation">
                <h3 class="title">
                    4. Làm sao để tôi quản lý và xoá thông tin của mình?
                </h3>
                <p>
                    Chúng tôi cung cấp cho bạn khả năng truy cập, đăng, trao đổi
                    và xoá dữ liệu.
                </p>
                <p>
                    Những dữ liệu này được chúng tôi lưu trữ đến khi bạn chủ
                    động xoá chúng hoặc tài khoản của bạn bị xoá khỏi hệ thống,
                    hoặc chúng tôi nhận thấy các nội dung này vi phạm các nguyên
                    tắc cộng đồng khi hệ thống của chúng tôi phát hiện ra hay từ
                    tố cáo của người dùng khác.
                </p>
                <p>
                    Khi tài khoản xoá khỏi hệ thống, chúng tôi sẽ xoá tất cả các
                    thông tin liên quan đến bạn như trang cá nhân, các bài đăng
                    bao gồm nội dung và hình ảnh của bạn, mọi người sẽ không thể
                    xem được các thông tin này nữa bao gồm cả bạn, và bạn sẽ
                    không thể khôi phục lại các thông tin này. Trong trường hợp
                    bạn không muốn xoá tài khoản và không muốn mọi người xem
                    được thông tin của mình, bạn cũng có thể dùng chức năng
                    <span class="textHightlight">Khoá tài khoản</span> trong
                    phần cài đặt
                    <span class="textHightlight">Bảo mật và đăng nhập</span> mà
                    chúng tôi cung cấp, sau đó mở khoá tài khoản bất cứ khi nào
                    bạn sẵn sàng.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">5. Cập nhật</h3>
                <p>
                    Mọi thay đổi trong Chính sách bảo mật đều được công khai tại
                    website: https://www.doffy.xyz/about-us/policy.
                </p>
                <p>
                    Khi có bất cứ sự thay đổi gì trong Chính sách bảo mật này,
                    chúng tôi sẽ thông báo tới bạn trước khi thay đổi và bạn có
                    quyền xem xét và quyết định có tiếp tục dùng sản phẩm Doffy
                    hay không.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">6. Liên hệ với chúng tôi</h3>
                <p>
                    Bạn có thể xem thêm về
                    <a
                        class="textHightlight"
                        href="https://www.doffy.xyz/about-us/terms"
                        >Điều khoản sử dụng</a
                    >
                    để hiểu rõ sản phẩm và các điều khoản khi sử dụng Ứng dụng.
                </p>
                <p>
                    Nếu có bất kỳ thắc mắc hay bổ sung góp ý cho đội ngũ phát
                    triển, bạn có thể liên hệ
                    <span class="textHightlight">trực tuyến</span> với chúng tôi
                    qua các địa chỉ:
                </p>
                <ul>
                    <li>Email &nbsp;&nbsp;: doffy.app@gmail.com</li>
                    <li>Hotline : (+84) 886141200</li>
                </ul>
            </div>

            <b>
                Doffy Co. Ltd xin trân trọng cảm ơn bạn đã sử dụng sản phẩm và
                dịch vụ của chúng tôi!
            </b>
            <br />
        </div>
    </body>
</html>

<style>
    body {
        background-color: white;
        padding-left: 3%;
        padding-right: 3%;
        font-family: Arial;
        color: #333333;
        line-height: 30px;
        font-size: 20px;
    }
    .container {
        padding: 20px;
        border-radius: 10px;
    }
    .divisionInformation {
        width: 100%;
        margin-top: 50px;
    }
    .bigTitle {
        font-size: 40px;
    }
    .title {
        font-size: 30px;
    }
    .spaceWithChannel {
        border-bottom: 0.5px solid #333333;
        margin: 40px 0px 60px 0px;
    }
    .textHightlight {
        color: #2343e5;
    }
    .textHightlight:hover {
        cursor: pointer;
    }

    @media all and (max-width: 1000px) {
        body {
            background-color: white;
            padding-left: 3%;
            padding-right: 3%;
            font-family: Arial;
            color: #333333;
            line-height: 45px;
            font-size: 35px;
        }
        .bigTitle {
            font-size: 55px;
        }
        .title {
            font-size: 45px;
        }
    }
</style>
