<!DOCTYPE html>

<html>
    <head>
        <title>Điều khoản sử dụng</title>
    </head>

    <body>
        <div class="container">
            <h1 class="bigTitle">Doffy | Điều khoản sử dụng</h1>
            <p>
                Vui lòng đọc kỹ Điều khoản sử dụng trước khi bạn tiến hành tải,
                cài đặt và sử dụng bất cứ tính năng nào của ứng dụng “DOFFY”.
                Việc sử dụng ứng dụng và thực hiện các thao tác ở dưới đồng
                nghĩa với việc bạn chấp nhận và đồng ý với các quy định và điều
                kiện dưới đây. Trong trường hợp bạn không đồng ý với bất kỳ điều
                khoản sử dụng nào của chúng tôi (tại phiên bản này hoặc các
                phiên bản khác), bạn vui lòng không tải, cài đặt và sử dụng,
                hoặc tháo gỡ Ứng dụng khỏi thiết bị di dộng của bạn.
            </p>

            <div class="divisionInformation">
                <h3 class="title">1. Giới thiệu về ứng dụng</h3>
                <p>
                    Doffy là ứng dụng nhắn tin và kết nối đa phương tiện giữa
                    các người dùng, hoạt động với mục đích:
                    <span class="textHightlight">“Chat and find friends”</span>
                    (Trò chuyện và tìm kiếm bạn bè xung quanh). Ứng dụng cho
                    phép hai người có cùng sở thích tìm hiểu và trò chuyện với
                    nhau một cách ẩn danh, sau đó họ có quyền công khai trò
                    chuyện và kết bạn với người bên kia hay không.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">2. Quyền Sở hữu Ứng dụng</h3>
                <p>
                    Doffy được phát triển và sở hữu bởi công ty TNHH Doffy, tất
                    cả các quyền sở hữu trí tuệ liên quan đến Ứng dụng (bao gồm
                    nhưng không giới hạn mã nguồn, hình ảnh, dữ liệu được lưu
                    trữ trong Ứng dụng, các cập nhật, sửa đổi bổ sung của Doffy)
                    và các tài liệu hướng dẫn liên quan (nếu có) thuộc quyền sở
                    hữu duy nhất bởi Doffy và không cá nhân, tổ chức nào được
                    phép sao chép, tái tạo, phân phối dưới mọi hình thức nếu
                    không có sự đồng ý và cho phép bằng văn bản của Doffy.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">3. Tài khoản</h3>
                <p>
                    Bạn có thể sử dụng Ứng dụng theo hai chế độ: có tài khoản
                    hoặc không tài khoản. Dưới bất kỳ chế độ nào, bạn cam kết
                    rằng sử dụng Ứng dụng tuân thủ các quy định của Doffy.
                </p>
                <ul>
                    <li>Bạn phải từ 17 tuổi trở lên để sử dụng Ứng dụng.</li>
                    <li>
                        Bạn không được đăng, truyền tải các nội dung vi phạm
                        pháp luật, các nội dung gây phân biệt chủng tộc, chia rẽ
                        dân tộc, làm tổn hại đến quyền và lợi ích hợp pháp của
                        các cá nhân hay tổ chức.
                    </li>
                    <li>
                        Bạn không được đăng, truyền tải các nội dung thiếu tế
                        nhị, bất bình đẳng giới tính, đe doạ, xâm phạm tới hình
                        ảnh, danh dự của những người dùng, tổ chức trong và
                        ngoài Ứng dụng.
                    </li>
                    <li>
                        Bạn có trách nhiệm giữ bảo mật cho mật khẩu của tài
                        khoản mình, chịu trách nhiệm cho bất kỳ một hoạt động
                        nào xảy ra dưới tên người dùng của bạn.
                    </li>
                    <li>
                        Bạn không được sao chép, chỉnh sửa, tái tạo ra một sản
                        phẩm mới hoặc phái sinh trên cơ sở của Ứng dụng này.
                    </li>
                    <li>
                        Bạn không được thực hiện các hành vi gây hại tới bảo
                        mật, an ninh mạng của Doffy, như sử dụng dữ liệu hoặc
                        truy cập vào máy chủ của hệ thống mà không được phép,…
                    </li>
                    <li>
                        Bạn không được sử dụng Ứng dụng cho bất kỳ một mục đích
                        hoặc hình thức bất hợp pháp nào.
                    </li>
                    <li>Các hình thức vi phạm khác.</li>
                </ul>
            </div>

            <div class="divisionInformation">
                <h3 class="title">4. Xử lý vi phạm</h3>
                <p>
                    Trong quá trình sử dụng, nếu nhận thấy bất kỳ hành vi nào vi
                    phạm quy định trong thoả thuận này hoặc nhận được tố cáo từ
                    người dùng khác tới bạn mà chúng tôi xác nhận đó là đúng,
                    Doffy có quyền xoá tài khoản của bạn ngay lập tức hoặc xoá
                    bỏ các nội dung vi phạm mà không cần báo trước. Chúng tôi
                    luôn nỗ lực để tạo ra một cộng đồng lành mạnh, văn minh,
                    ngày một tốt hơn, và mong muốn điều này tới mọi người dùng.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">5. Quyền truy cập và Thu thập thông tin</h3>
                <p>
                    Khi sử dụng Ứng dụng, bạn đồng ý rằng chúng tôi có các API
                    của hệ thống để đọc và ghi dữ liệu lên thẻ nhớ hoặc điện
                    thoại của bạn, truy cập này chúng tôi chỉ được phép khi và
                    chỉ khi có sự đồng ý của bạn. Cùng với quyền truy cập này,
                    chúng tôi có thu thập thông tin cá nhân bao gồm tên, email,
                    ngày sinh, giới tính, sở thích cá nhân mà bạn cung cấp cho
                    cúng tôi khi sử dụng Ứng dụng.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">6. Cam kết bảo mật thông tin</h3>
                <p>
                    Doffy cam kết giữ bí mật với tất cả thông tin bạn cung cấp
                    trên Ứng dụng, sử dụng giao thức truyền tin an toàn https để
                    giữ an toàn, không chia sẻ thông tin cho bất kỳ tổ chức hoặc
                    bên thứ ba nào trừ khi có yêu cầu từ cơ quan Nhà nước có
                    thẩm quyền.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">7. Phí sử dụng</h3>
                <p>
                    Doffy cam kết không thu bất kỳ khoản phí nào từ người dùng
                    và các dịch vụ mà chúng tôi cung cấp.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">8. Lưu ý sử dụng</h3>
                <p>
                    Tính năng trò chuyện và tìm bạn theo sở thích có thể cho bạn
                    gặp những người mình chưa biết, trong trường hợp có người
                    dùng cố ý gây spam, nhắn tin gây phiền toái tới trải nghiệm
                    ứng dụng của bạn, vui lòng chặn người dùng này hoặc sử dụng
                    tính năng tố cáo người dùng mà chúng tôi cung cấp, chúng tôi
                    sẽ tiếp nhận và xem xét nhanh nhất để xử lý những trường hợp
                    này.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">9. Cập nhật</h3>
                <p>
                    Mọi thay đổi trong Điều khoản sử dụng đều được công khai tại
                    website: https://www.doffy.xyz/about-us/terms.
                </p>
                <p>
                    Khi có bất cứ sự thay đổi gì trong Chính sách bảo mật này,
                    chúng tôi sẽ thông báo tới bạn trước khi thay đổi và bạn có
                    quyền xem xét và quyết định có tiếp tục dùng sản phẩm Doffy
                    hay không.
                </p>
            </div>

            <div class="divisionInformation">
                <h3 class="title">10. Liên hệ với chúng tôi</h3>
                <p>
                    Bạn có thể xem thêm về
                    <a
                        class="textHightlight"
                        href="https://www.doffy.xyz/about-us/policy"
                        >Chính sách bảo mật</a
                    >
                    để biết cách chúng tôi xử lý thông tin của bạn.
                </p>
                <p>
                    Nếu có bất kỳ thắc mắc hay bổ sung góp ý cho đội ngũ phát
                    triển, bạn có thể liên hệ
                    <span class="textHightlight">trực tuyến</span> với chúng tôi
                    qua các địa chỉ:
                </p>
                <ul>
                    <li>Email &nbsp;&nbsp;: doffy.app@gmail.com</li>
                    <li>Hotline : (+84) 886141200</li>
                </ul>
            </div>
            <br />
            <b>
                Doffy Co. Ltd xin trân trọng cảm ơn bạn đã sử dụng sản phẩm và
                dịch vụ của chúng tôi!
            </b>
            <br />
        </div>
    </body>
</html>

<style>
    body {
        background-color: white;
        padding-left: 3%;
        padding-right: 3%;
        font-family: Arial;
        color: #333333;
        line-height: 30px;
        font-size: 20px;
    }
    .container {
        padding: 20px;
        border-radius: 10px;
    }
    .divisionInformation {
        width: 100%;
        margin-top: 50px;
    }
    .bigTitle {
        font-size: 40px;
    }
    .title {
        font-size: 30px;
    }
    .spaceWithChannel {
        border-bottom: 0.5px solid #333333;
        margin: 40px 0px 60px 0px;
    }
    .textHightlight {
        color: #2343e5;
    }

    @media all and (max-width: 1000px) {
        body {
            background-color: white;
            padding-left: 3%;
            padding-right: 3%;
            font-family: Arial;
            color: #333333;
            line-height: 45px;
            font-size: 35px;
        }
        .bigTitle {
            font-size: 55px;
        }
        .title {
            font-size: 45px;
        }
    }
</style>
